html, body{
	font-family: monospace, sans-serif;
	margin: 0;
}

header{ 
	background-color: #e6e6ff;
	padding: 40px 60px 40px 60px;
	text-align: center}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid #ffe6f7}

.content{
	max-width: 500px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding:0;
	margin:0;
}

a{
	color: blue;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #ccccff
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

